@font-face {
  font-family: "Dom Casual";
  src: url("https://fortress-blast.github.io/fonts/domcasual-webfont.woff2") format("woff2"), url("https://fortress-blast.github.io/fonts/domcasual-webfont.woff") format("woff"), url("https://fortress-blast.github.io/fonts/domcasual.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-attachment: fixed;
  background-image: url("https://fortress-blast.github.io/background.jpg");
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid {
  padding: 15px;
}

img {
  margin-bottom: 16px;
}

p {
  font-family: "Dom Casual", Arial, sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 0.8;
}

.fb-topbar {
  margin-left: 35px;
  margin-right: 35px;
}

.fb-topbar table {
  margin-bottom: 0px;
}

.fb-topbar table tbody tr th {
  border: none;
  padding: 0px;
}

.fb-topbar table tbody tr th .btn {
  background-color: #FC7215;
  box-shadow: -3px -3px 5px black inset, 3px 3px 5px white inset;
  border: 3px solid black;
  border-bottom: none;
  border-radius: 15px 15px 0px 0px;
  font-family: "Dom Casual", Arial, sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  padding: 0px;
  width: 100%;
}

.fb-topbar table tbody tr th .btn span {
  display: inline-block;
  transform: scale(1, 0.75);
}

.fb-body {
  background-color: #FC7215;
  border: 3px solid black;
  border-radius: 35px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
