body {
	background-image: url("https://fortress-blast.github.io/images/background_scream.jpg");
}

p, ul, th, td, .btn {
	color: #CCCCCC;
}

.fb-topbar table .btn {
	background-color: #28292B;
	box-shadow: 2px -1px 5px rgba(0, 0, 0, 0.5) inset, -2px 6px 5px white inset;
}

.fb-topbar table .btn:hover {
	background-color: #1C1D1F;
	color: white;
}

.fb-topbar table .selected {
	background-color: #434446;
	box-shadow: -2px 6px 5px rgba(0, 0, 0, 0.25) inset, 2px -1px 5px white inset;
}

.fb-body {
	background-color: #28292B;
	box-shadow: 3px -8px 5px rgba(0, 0, 0, 0.5) inset, -3px 8px 5px white inset;
	border: 3px solid black;
	border-radius: 35px;
	padding: 20px;
	padding-bottom: 4px;
}

.fb-body table {
	background-color: #324973;
	box-shadow: -3px 8px 5px rgba(0, 0, 0, 0.5) inset, 3px -8px 5px white inset;
	border: 3px solid black;
}
